.idea/
.ai/
*.iml
*.ipr
*.iws

**/target/
*.class
*.jar
*.war
*.ear
*.nar

*.log
**/logs/

**/.DS_Store
**/Thumbs.db

*.swp
*.swo
*~

.flattened-pom.xml
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

*.factorypath
.apt_generated/
.settings/
.classpath
.project
bin/
